.main__block{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main__info{
  text-align: center;
}
.emojiBlock{
  position: absolute;
  background-color: white;
  z-index: 5;
  top:-335px;
}
.sendBlock__Message{
  display: flex;
  width: 100%;
}
.form__header{
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column
}
.main__bold{
  font-weight: bold;
}
.main__dignity{
  text-align: center;
}
.main__wrapperDignity{
  text-align: left;
  min-width: 360px;
  margin: 0 auto;
  max-width: 30%;
  padding-left: 5%;
}
.title, .table {
  min-width: 360px;
  max-width: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.table{
  display: flex;
  flex-direction: column;
}
.table p {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.table p span {
  width: 100px;
  text-align: left;
  margin-left: 45px;
}

.title{
  font-weight: bold;
}
